@{
    ViewBag.Title = "A Brief History and Overview of GameJunkies";
}
<h2>@ViewBag.Title</h2>
<h3>Quick Summary</h3>

<p>GameJunkie is a one-stop-shop for video game information including video game descriptions, video game pricing, video game rating, and even video game suggestions. This web application is currently in active devlopment and is purely non-profit. </p>

<h3>Quick History</h3>
<p>Development began on GameJunkies in early April 2021. Currently, the main purpose of the web application is to serve as my final project for the Red Badge section of my  Eleven Fifty Academy Part-Time Software Development Cohort. However, I will not rule out updates past the submital of the project as both video games and software development are major hobbies of mine.</p>

