@{
    ViewBag.Title = "Get in Contact!";
}
<h2>@ViewBag.Title</h2>
<p>If you are looking for a hardworking .Net developer for a project or position, or just want to talk about video games or programming, please contact me!</p>

<address>
    I am currently based out of the Indianapolis, IN Area
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:cjbraeger@gmail.com">cjbraeger@gmail.com</a><br />
    
</address>