@{
    ViewBag.Title = "Home Page";
}
@if (TempData.ContainsKey("SearchResult"))
{
    <div class="alert alert-danger fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SearchResult"]
    </div>
}

<div class="jumbotron">
    <h1>GameJunkies</h1>
    <p class="lead">GameJunkies is your one-stop-shop for all things Video Games!</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>First Steps</h2>
        <p>
            Create a profile to record all your gaming related data including which games and consoles you already have and which ones you'd like to purchase still.
        </p>
        <p><a class="btn btn-default" href="">Create Profile &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Browse Games and Consoles</h2>
        <p>Search for games or consoles based a number of factors such as price, release date, genre and more! Add interesting ones to your wishlist.</p>
        <p><a class="btn btn-default" href="">Browse &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rate Games</h2>
        <p>Rate games you own and leave a comment as to why you liked or disliked a game! </p>
        <p><a class="btn btn-default" href="">Rate some games &raquo;</a></p>
    </div>
</div>